<% layout('/layouts/boilerPlate') %>
<body>
  <div class="row">
    <div class="col-7 offset-2">
      <h3 class="mb-4 mt-4"><b> New Listing </b></h3>
      <form
        action="/Listings"
        method="post"
        novalidate
        class="form needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            placeholder="Add catchy title"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks Good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            placeholder="enter description"
            name="listing[description]"
            class="form-control"
            required
          >
          </textarea>
          <div class="invalid-feedback">
            Please enter a your short description
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            placeholder="entering image URL/LINK"
            name="listing[image]"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              
              placeholder="1800"
              name="listing[price]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              placeholder="Jaipur , Rajsthan"
              name="listing[location]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Location should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            placeholder="India"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>

        <button class="btn btn-dark mb-5 add-btn col-2">Add List !</button>
      </form>
    </div>
  </div>
</body>
